<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>
        <div align="center">Login</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div align="center"><img src="../assets/imagenes/Logo.png" width="150" height="150"></div>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="pass" ></ion-input>
    </ion-item>
   <br>
      <ion-button color="primary" expand="full" (click)="ingresar()" >Ingresar</ion-button>
    <br>
    <div class="olv" align="center">Olvidó su contraseña?</div>
    
</ion-content>
